<meta property="og:title" content="@Model.String(BlogKeys.Title)"/>
<script src="https://utteranc.es/client.js"
        repo="iambipinpaul/bipinpaul.com"
        issue-term="og:title"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
